
.song-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

    img {
        width: 20%;
        border-radius: 50%;
    }

    .loading-image {
        display: flex;
        justify-content: center;
    }

    .rotate {
        animation: 15s rotate infinite linear;
    }
    @keyframes rotate {
        from{transform: rotate(0deg);}
        to{transform: rotate(360deg);}
    }
    h2{
        padding: 3rem 1rem 1rem 1rem;
    }

    h3 {
        font-size: 1rem;
    }
}